[submodule "GeneralElectionAnalysis"]
	path = GeneralElectionAnalysis
	url = https://github.com/lotariohw26/GeneralElectionAnalysis.git
[submodule "MD_BOOK_2"]
	path = MD_BOOK_2
	url = https://github.com/lotariohw26/MD_BOOK_2.git
